body {
    background-image: url(../images/ocean.jpg);
    color: whitesmoke
}

.main-box {
    background-color: whitesmoke;
    color:#353535;
}
.my-face {
    background-image: url("../images/cropped-shady-eyes.gif");
    overflow: auto;
    width: 340px;
    height: 148px;
    margin: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    display: none;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
        justify-content: center;
    }
    .control-label {
        width: 100%;
        justify-content: center;
    }
   
    .main-box {
        width: 95vw;
        margin-bottom: 10px;
    }
    .box-header {
        text-align: center;
    }
    
    
}