body {
    background-image: url(../images/ocean.jpg);
    color: whitesmoke
}

.main-box {
    background-color: whitesmoke;
    color:#353535;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
        justify-content: center;
    }
    .control-label {
        width: 100%;
        justify-content: center;
    }
   
    .main-box {
        width: 95vw;
        margin-bottom: 10px;
    }
    .box-header {
        text-align: center;
    }
    
    
}